In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('mohoma.csv',encoding='latin-1')

In [3]:
df['ap_1_3'] = df['ap_1_3'].replace({' ': '10'})
df['ap_1_3'] = df['ap_1_3'].replace({np.nan: '10'})
df['ap_1_3'] = df['ap_1_3'].astype(int)
df['ap_1'] = df['ap_1'].replace({' ': '2'})
df['ap_1'] = df['ap_1'].astype(int)
df_nuevo=df.loc[df['ap_1'] < 2]
df_nuevo=df_nuevo.loc[df_nuevo['ap_1_3'] <= 4]

In [4]:
df_nuevo['ap_1_2'] = df_nuevo['ap_1_2'].replace({np.nan: '0'})
df_nuevo['ap_1_2'] = df_nuevo['ap_1_2'].replace({' ': '0'})
df_nuevo['ap_1_2'] = df_nuevo['ap_1_2'].astype(int)
df_nuevo = df_nuevo.loc[df_nuevo['ap_1_2'] > 0]

In [5]:
def colTabla(df):
    res = []
    df_a = df['ap_1_3']
    for x in range(len(df_a)):
        val = df_a.iloc[x]
        if val == 1:
            res.append(12)
        else:
            if val == 2:
                res.append(6)
            else:
                if val == 3:
                    res.append(4)
                else:
                    res.append(1)
    return res

df_nuevo['periodo'] = colTabla(df_nuevo)
df_nuevo['pago_anual'] = df_nuevo['periodo'] * df_nuevo['ap_1_2']
df_nuevo

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_6,gp_3_3_7,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual
0,100067033,1,949,1,1,1,1,280,,1,...,,,,,,,,,12,3360
1,100067050,1,949,1,1,1,1,200,,1,...,,,,,,,,,12,2400
3,100080020,1,774,1,1,1,1,80,,1,...,,,,,,,,,12,960
4,100080040,1,774,1,1,1,1,186,,1,...,,,,,,,,,12,2232
7,100080093,1,774,1,7,1,1,150,,1,...,,,,,,,,,12,1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14499,3260737189,1,815,4,1,1,2,60,,1,...,,,,,,,,,12,720
14500,3260737191,1,815,4,2,1,2,85,,1,...,,,,,,,,,12,1020
14501,3260737207,1,815,4,1,1,2,350,,1,...,,,,,,,,,12,4200
14502,3260737208,1,815,4,2,1,2,350,,1,...,,,,,,,,,12,4200
14503,3260737210,1,815,4,1,1,2,300,,1,...,,,,,,,,,12,3600

In [6]:
df_nuevo['ap_6_1'] = df_nuevo['ap_6_1'].replace({np.nan: '0'})
df_nuevo['ap_6_1'] = df_nuevo['ap_6_1'].replace({' ': '0'})
df_nuevo['ap_6_1'] = df_nuevo['ap_6_1'].astype(int)
df_nuevo['ap_6_2'] = df_nuevo['ap_6_2'].replace({np.nan: '0'})
df_nuevo['ap_6_2'] = df_nuevo['ap_6_2'].replace({' ': '0'})
df_nuevo['ap_6_2'] = df_nuevo['ap_6_2'].astype(int)
df_nuevo['ap_6_3'] = df_nuevo['ap_6_3'].replace({np.nan: '0'})
df_nuevo['ap_6_3'] = df_nuevo['ap_6_3'].replace({' ': '0'})
df_nuevo['ap_6_3'] = df_nuevo['ap_6_3'].astype(int)
df_nuevo['ap_6_4'] = df_nuevo['ap_6_4'].replace({np.nan: '0'})
df_nuevo['ap_6_4'] = df_nuevo['ap_6_4'].replace({' ': '0'})
df_nuevo['ap_6_4'] = df_nuevo['ap_6_4'].astype(int)
df_nuevo['ap_6_5'] = df_nuevo['ap_6_5'].replace({np.nan: '0'})
df_nuevo['ap_6_5'] = df_nuevo['ap_6_5'].replace({' ': '0'})
df_nuevo['ap_6_5'] = df_nuevo['ap_6_5'].astype(int)
df_nuevo['ap_6_6'] = df_nuevo['ap_6_6'].replace({np.nan: '0'})
df_nuevo['ap_6_6'] = df_nuevo['ap_6_6'].replace({' ': '0'})
df_nuevo['ap_6_6'] = df_nuevo['ap_6_6'].astype(int)
df_nuevo['ap_6_7'] = df_nuevo['ap_6_7'].replace({np.nan: '0'})
df_nuevo['ap_6_7'] = df_nuevo['ap_6_7'].replace({' ': '0'})
df_nuevo['ap_6_7'] = df_nuevo['ap_6_7'].astype(int)
df_nuevo['ap_6_8'] = df_nuevo['ap_6_8'].replace({np.nan: '0'})
df_nuevo['ap_6_8'] = df_nuevo['ap_6_8'].replace({' ': '0'})
df_nuevo['ap_6_8'] = df_nuevo['ap_6_8'].astype(int)
df_nuevo['ap_6_9'] = df_nuevo['ap_6_9'].replace({np.nan: '0'})
df_nuevo['ap_6_9'] = df_nuevo['ap_6_9'].replace({' ': '0'})
df_nuevo['ap_6_9'] = df_nuevo['ap_6_9'].astype(int)
df_nuevo['ap_6_10'] = df_nuevo['ap_6_10'].replace({np.nan: '0'})
df_nuevo['ap_6_10'] = df_nuevo['ap_6_10'].replace({' ': '0'})
df_nuevo['ap_6_10'] = df_nuevo['ap_6_10'].astype(int)
df_nuevo['ap_6_11'] = df_nuevo['ap_6_11'].replace({np.nan: '0'})
df_nuevo['ap_6_11'] = df_nuevo['ap_6_11'].replace({' ': '0'})
df_nuevo['ap_6_11'] = df_nuevo['ap_6_11'].astype(int)
df_nuevo['ap_6_1'] = df_nuevo['ap_6_1'].replace({2: 0})
df_nuevo['ap_6_2'] = df_nuevo['ap_6_2'].replace({2: 0})
df_nuevo['ap_6_3'] = df_nuevo['ap_6_3'].replace({2: 0})
df_nuevo['ap_6_4'] = df_nuevo['ap_6_4'].replace({2: 0})
df_nuevo['ap_6_5'] = df_nuevo['ap_6_5'].replace({2: 0})
df_nuevo['ap_6_6'] = df_nuevo['ap_6_6'].replace({2: 0})
df_nuevo['ap_6_7'] = df_nuevo['ap_6_7'].replace({2: 0})
df_nuevo['ap_6_8'] = df_nuevo['ap_6_8'].replace({2: 0})
df_nuevo['ap_6_9'] = df_nuevo['ap_6_9'].replace({2: 0})
df_nuevo['ap_6_10'] = df_nuevo['ap_6_10'].replace({2: 0})
df_nuevo['ap_6_11'] = df_nuevo['ap_6_11'].replace({2: 0})
df_nuevo['tot'] = df_nuevo['ap_6_1'] + df_nuevo['ap_6_2'] + df_nuevo['ap_6_3'] + df_nuevo['ap_6_4'] + df_nuevo['ap_6_5'] + df_nuevo['ap_6_6'] + df_nuevo['ap_6_7'] + df_nuevo['ap_6_8'] + df_nuevo['ap_6_9'] + df_nuevo['ap_6_10'] + df_nuevo['ap_6_11']

In [7]:
m = np.mean(df_nuevo['pago_anual'])
print(m)

1627.640504349526

In [8]:
def calculaS2(df):
    n = len(df)
    m = np.mean(df)
    s = df - m
    s = np.dot(s,s)
    s = s/(n-1)
    
    return s

s2 = calculaS2(df_nuevo['pago_anual'])
s = pow(s2,1/2)
print(s)

1870.5410971864371

In [9]:
df_nuevo['ap_5_1'] = df_nuevo['ap_5_1'].replace({2: 0})
df_nuevo['ap_5_2'] = df_nuevo['ap_5_2'].replace({2: 0})
df_nuevo['ap_5_3'] = df_nuevo['ap_5_3'].replace({2: 0})
df_nuevo['cantidad_de_mecanismos'] = df_nuevo['ap_5_1'] + df_nuevo['ap_5_2'] + df_nuevo['ap_5_3']
df_nuevo

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
0,100067033,1,949,1,1,1,1,280,,1,...,,,,,,,12,3360,5,1
1,100067050,1,949,1,1,1,1,200,,1,...,,,,,,,12,2400,4,1
3,100080020,1,774,1,1,1,1,80,,1,...,,,,,,,12,960,5,0
4,100080040,1,774,1,1,1,1,186,,1,...,,,,,,,12,2232,2,0
7,100080093,1,774,1,7,1,1,150,,1,...,,,,,,,12,1800,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14499,3260737189,1,815,4,1,1,2,60,,1,...,,,,,,,12,720,3,0
14500,3260737191,1,815,4,2,1,2,85,,1,...,,,,,,,12,1020,2,0
14501,3260737207,1,815,4,1,1,2,350,,1,...,,,,,,,12,4200,5,0
14502,3260737208,1,815,4,2,1,2,350,,1,...,,,,,,,12,4200,5,2
14503,3260737210,1,815,4,1,1,2,300,,1,...,,,,,,,12,3600,7,0

In [10]:
df_1 = df_nuevo.loc[df_nuevo['cantidad_de_mecanismos'] >= 1] 
df_2 = df_nuevo.loc[df_nuevo['cantidad_de_mecanismos'] == 2] 
df_3 = df_nuevo.loc[df_nuevo['cantidad_de_mecanismos'] == 3] 
df_0 = df_nuevo.loc[df_nuevo['cantidad_de_mecanismos'] == 0] 
df_1

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
0,100067033,1,949,1,1,1,1,280,,1,...,,,,,,,12,3360,5,1
1,100067050,1,949,1,1,1,1,200,,1,...,,,,,,,12,2400,4,1
8,100109002,1,682,1,2,1,1,220,,1,...,,,,,,,12,2640,7,2
10,100109057,1,682,1,2,1,1,193,,1,...,,,,,,,12,2316,4,1
12,100113034,1,561,1,2,1,1,235,,1,...,,,,,,,12,2820,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14489,3260737118,1,815,4,2,1,2,60,,1,...,,,,,,,12,720,1,1
14490,3260737119,1,815,4,1,1,2,90,,1,...,,,,,,,12,1080,7,1
14497,3260737187,1,815,4,1,1,2,60,,1,...,,,,,,,12,720,6,1
14498,301171118,1,401,3,2,1,2,185,,1,...,2,2,2,2,2,,12,2220,7,1
14502,3260737208,1,815,4,2,1,2,350,,1,...,,,,,,,12,4200,5,2

In [11]:
m1 = np.mean(df_1['pago_anual'])
m2 = np.mean(df_2['pago_anual'])
m3 = np.mean(df_3['pago_anual'])
m0 = np.mean(df_0['pago_anual'])
print(m0)
print(m1)
print(m2)
print(m3)

1484.392795883362
1817.400590774824
1909.9677605066206
2037.1158798283261

In [12]:
s20 = calculaS2(df_0['pago_anual'])
s21 = calculaS2(df_1['pago_anual'])
s22 = calculaS2(df_2['pago_anual'])
s23 = calculaS2(df_3['pago_anual'])
s0 = pow(s20,1/2)
s1 = pow(s21,1/2)
s2 = pow(s22,1/2)
s3 = pow(s23,1/2)
print(s0)
print(s1)
print(s2)
print(s3)

1894.9452042849823
1820.6524868572944
1939.3549678582128
2351.4449335051604

In [13]:
df_excusado = df_1.loc[df_1['ap_5_1'] == 1] 
df_hechizo = df_1.loc[df_1['ap_5_2'] == 1] 
df_regadera = df_1.loc[df_1['ap_5_3'] == 1] 
mexcusado = np.mean(df_excusado['pago_anual'])
mhechizo = np.mean(df_hechizo['pago_anual'])
mregadera = np.mean(df_regadera['pago_anual'])
print(mexcusado)
print(mhechizo)
print(mregadera)

1847.5011185682326
1850.328530259366
1874.249357326478

In [14]:
print((mexcusado + mhechizo + mregadera)/3)

1857.3596687180254

In [15]:
df_excusado

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
1,100067050,1,949,1,1,1,1,200,,1,...,,,,,,,12,2400,4,1
10,100109057,1,682,1,2,1,1,193,,1,...,,,,,,,12,2316,4,1
12,100113034,1,561,1,2,1,1,235,,1,...,,,,,,,12,2820,5,2
17,100220057,1,789,1,3,1,2,200,,1,...,,,,,,,12,2400,2,3
18,100220075,1,789,1,1,1,1,200,,1,...,,,,,,,12,2400,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14484,3260729134,1,966,4,1,1,2,45,,1,...,2,2,2,2,2,,12,540,2,1
14489,3260737118,1,815,4,2,1,2,60,,1,...,,,,,,,12,720,1,1
14497,3260737187,1,815,4,1,1,2,60,,1,...,,,,,,,12,720,6,1
14498,301171118,1,401,3,2,1,2,185,,1,...,2,2,2,2,2,,12,2220,7,1
14502,3260737208,1,815,4,2,1,2,350,,1,...,,,,,,,12,4200,5,2

In [16]:
df_hechizo

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
8,100109002,1,682,1,2,1,1,220,,1,...,,,,,,,12,2640,7,2
17,100220057,1,789,1,3,1,2,200,,1,...,,,,,,,12,2400,2,3
29,100395092,1,891,1,2,1,1,169,,1,...,,,,,,,12,2028,2,2
83,100816094,1,829,1,1,1,1,180,,1,...,,,,,,,12,2160,7,2
96,100928042,1,796,1,1,1,1,190,,1,...,,,,,,,12,2280,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14307,3260013019,1,807,4,2,1,2,500,,4,...,,,,,,,1,500,7,1
14370,3260197064,1,859,4,2,1,2,60,,1,...,,,,,,,12,720,6,1
14396,3260250031,1,657,4,1,1,2,60,,1,...,,,,,,,12,720,9,2
14415,3260386035,1,939,4,2,1,2,100,,1,...,,,,,,,12,1200,6,3
14490,3260737119,1,815,4,1,1,2,90,,1,...,,,,,,,12,1080,7,1

In [17]:
df_regadera

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
0,100067033,1,949,1,1,1,1,280,,1,...,,,,,,,12,3360,5,1
8,100109002,1,682,1,2,1,1,220,,1,...,,,,,,,12,2640,7,2
12,100113034,1,561,1,2,1,1,235,,1,...,,,,,,,12,2820,5,2
15,100220017,1,789,1,2,1,1,250,,2,...,,,,,,,6,1500,4,1
17,100220057,1,789,1,3,1,2,200,,1,...,,,,,,,12,2400,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14416,3260386036,1,939,4,2,1,2,120,,1,...,,,,,,,12,1440,3,2
14456,3260601151,1,962,4,2,1,2,50,,1,...,2,2,2,2,2,,12,600,8,1
14475,3260729119,1,966,4,3,1,2,45,,1,...,,,,,,,12,540,2,1
14482,3260729133,1,966,4,1,1,2,45,,1,...,2,2,2,2,2,,12,540,5,2
14502,3260737208,1,815,4,2,1,2,350,,1,...,,,,,,,12,4200,5,2

In [18]:
df_1_malo = df_1.loc[df_1['ap_1_4_5'] == '1'] 
df_1_regular = df_1.loc[df_1['ap_1_4_5'] == '2'] 
df_1_bueno = df_1.loc[df_1['ap_1_4_5'] == '3'] 
print(len(df_1))
print(len(df_1_malo))
print(len(df_1_regular))
print(len(df_1_bueno))
print(len(df_1_malo)/len(df_1))
print(len(df_1_regular)/len(df_1))
print(len(df_1_bueno)/len(df_1))

4401
850
1140
2378
0.1931379231992729
0.25903203817314246
0.5403317427857305

In [19]:
df_2_malo = df_2.loc[df_2['ap_1_4_5'] == '1'] 
df_2_regular = df_2.loc[df_2['ap_1_4_5'] == '2'] 
df_2_bueno = df_2.loc[df_2['ap_1_4_5'] == '3'] 
print(len(df_2))
print(len(df_2_malo))
print(len(df_2_regular))
print(len(df_2_bueno))
print(len(df_2_malo)/len(df_2))
print(len(df_2_regular)/len(df_2))
print(len(df_2_bueno)/len(df_2))

1737
341
441
946
0.1963154864709269
0.2538860103626943
0.5446171560161197

In [20]:
df_3_malo = df_3.loc[df_3['ap_1_4_5'] == '1'] 
df_3_regular = df_3.loc[df_3['ap_1_4_5'] == '2'] 
df_3_bueno = df_3.loc[df_3['ap_1_4_5'] == '3'] 
print(len(df_3))
print(len(df_3_malo))
print(len(df_3_regular))
print(len(df_3_bueno))
print(len(df_3_malo)/len(df_3))
print(len(df_3_regular)/len(df_3))
print(len(df_3_bueno)/len(df_3))

233
39
69
125
0.16738197424892703
0.296137339055794
0.5364806866952789

In [21]:
df_0_malo = df_0.loc[df_0['ap_1_4_5'] == '1'] 
df_0_regular = df_0.loc[df_0['ap_1_4_5'] == '2'] 
df_0_bueno = df_0.loc[df_0['ap_1_4_5'] == '3'] 
print(len(df_0))
print(len(df_0_malo))
print(len(df_0_regular))
print(len(df_0_bueno))
print(len(df_0_malo)/len(df_0))
print(len(df_0_regular)/len(df_0))
print(len(df_0_bueno)/len(df_0))

5830
1138
1512
3132
0.19519725557461406
0.2593481989708405
0.537221269296741

In [22]:
df_2_excusado = df_2.loc[df_2['ap_5_1'] == 1] 
df_2_excusado_regadera = df_2_excusado.loc[df_2_excusado['ap_5_2'] == 1] 
df_2_excusado_regadera

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
29,100395092,1,891,1,2,1,1,169,,1,...,,,,,,,12,2028,2,2
103,100934100,1,874,1,2,1,1,160,,1,...,,,,,,,12,1920,3,2
275,101929118,1,973,1,2,1,1,234,,1,...,,,,,,,12,2808,4,2
570,201096128,1,3178,1,1,1,1,1500,,4,...,,,,,,,1,1500,4,2
677,203523042,1,2506,1,2,1,1,219,,1,...,,,,,,,12,2628,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13627,3101066059,1,1334,1,1,1,1,78,,1,...,,,,,,,12,936,3,2
13644,3101163006,1,1522,1,1,1,1,100,,2,...,,,,,,,6,600,4,2
13785,3102957032,1,983,2,8,1,2,15,,1,...,,,,,,,12,180,6,2
13961,3160107098,1,833,4,2,1,2,35,,1,...,,,,,,,12,420,5,2
14200,3201527147,1,858,2,2,1,2,60,,1,...,,,,,,,12,720,3,2

In [23]:
df_2_excusado = df_2.loc[df_2['ap_5_1'] == 1] 
df_2_excusado_hechizo = df_2_excusado.loc[df_2_excusado['ap_5_3'] == 1] 
df_2_excusado_hechizo

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
12,100113034,1,561,1,2,1,1,235,,1,...,,,,,,,12,2820,5,2
19,100220089,1,789,1,2,1,1,150,,1,...,,,,,,,12,1800,4,2
20,100291015,1,854,1,2,1,1,90,,1,...,,,,,,,12,1080,5,2
21,100291035,1,854,1,1,1,1,350,,1,...,,,,,,,12,4200,7,2
24,100391091,1,751,1,1,1,1,82,,1,...,,,,,,,12,984,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14412,3260386031,1,939,4,1,1,2,60,,1,...,,,,,,,12,720,6,2
14413,3260386032,1,939,4,1,1,2,120,,1,...,,,,,,,12,1440,4,2
14416,3260386036,1,939,4,2,1,2,120,,1,...,,,,,,,12,1440,3,2
14482,3260729133,1,966,4,1,1,2,45,,1,...,2,2,2,2,2,,12,540,5,2
14502,3260737208,1,815,4,2,1,2,350,,1,...,,,,,,,12,4200,5,2

In [24]:
df_2_regadera = df_2.loc[df_2['ap_5_2'] == 1] 
df_2_regadera_hechizo = df_2_regadera.loc[df_2_regadera['ap_5_3'] == 1] 
df_2_regadera_hechizo

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
8,100109002,1,682,1,2,1,1,220,,1,...,,,,,,,12,2640,7,2
83,100816094,1,829,1,1,1,1,180,,1,...,,,,,,,12,2160,7,2
96,100928042,1,796,1,1,1,1,190,,1,...,,,,,,,12,2280,3,2
218,101539059,1,873,1,1,1,1,430,,1,...,,,,,,,12,5160,4,2
300,101997192,1,485,2,3,1,1,100,,2,...,,,,,,,6,600,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14086,3200839057,1,807,1,1,1,1,78,,1,...,,,,,,,12,936,2,2
14126,3201039130,1,761,1,3,1,1,79,,1,...,,,,,,,12,948,5,2
14151,3201251143,1,820,2,1,1,1,86,,1,...,,,,,,,12,1032,7,2
14186,3201523245,1,1114,2,1,1,1,137,,1,...,,,,,,,12,1644,5,2
14396,3260250031,1,657,4,1,1,2,60,,1,...,,,,,,,12,720,9,2

In [25]:
print(np.mean(df_0['tot']))

3.444596912521441

In [26]:
print(np.mean(df_1['tot']))

4.455123835491934

In [27]:
print(np.mean(df_2['tot']))

4.5849165227403565

In [28]:
print(np.mean(df_3['tot']))

5.098712446351931

In [42]:
df_0_tot = df_0.loc[df_0['tot'] == 0] 
df_1_tot = df_0.loc[df_0['tot'] == 1] 
df_2_tot = df_0.loc[df_0['tot'] == 2] 
df_3_tot = df_0.loc[df_0['tot'] == 3] 
df_4_tot = df_0.loc[df_0['tot'] == 4] 
df_5_tot = df_0.loc[df_0['tot'] == 5] 
df_6_tot = df_0.loc[df_0['tot'] == 6] 
df_7_tot = df_0.loc[df_0['tot'] == 7] 
df_8_tot = df_0.loc[df_0['tot'] == 8] 
df_9_tot = df_0.loc[df_0['tot'] == 9] 
df_10_tot = df_0.loc[df_0['tot'] == 10] 
df_11_tot = df_0.loc[df_0['tot'] == 11] 
print(len(df_0_tot))
print(len(df_1_tot))
print(len(df_2_tot))
print(len(df_3_tot))
print(len(df_4_tot))
print(len(df_5_tot))
print(len(df_6_tot))
print(len(df_7_tot))
print(len(df_8_tot))
print(len(df_9_tot))
print(len(df_10_tot))
print(len(df_11_tot))

294
687
992
1106
1095
803
464
244
104
36
5
0

In [38]:
print(np.mean(df_0_tot['cantidad_de_mecanismos']))
print(np.mean(df_1_tot['cantidad_de_mecanismos']))
print(np.mean(df_2_tot['cantidad_de_mecanismos']))
print(np.mean(df_3_tot['cantidad_de_mecanismos']))
print(np.mean(df_4_tot['cantidad_de_mecanismos']))
print(np.mean(df_5_tot['cantidad_de_mecanismos']))
print(np.mean(df_6_tot['cantidad_de_mecanismos']))
print(np.mean(df_7_tot['cantidad_de_mecanismos']))
print(np.mean(df_8_tot['cantidad_de_mecanismos']))
print(np.mean(df_9_tot['cantidad_de_mecanismos']))
print(np.mean(df_10_tot['cantidad_de_mecanismos']))

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [39]:
print(np.mean(df_0_tot['pago_anual']))
print(np.mean(df_1_tot['pago_anual']))
print(np.mean(df_2_tot['pago_anual']))
print(np.mean(df_3_tot['pago_anual']))
print(np.mean(df_4_tot['pago_anual']))
print(np.mean(df_5_tot['pago_anual']))
print(np.mean(df_6_tot['pago_anual']))
print(np.mean(df_7_tot['pago_anual']))
print(np.mean(df_8_tot['pago_anual']))
print(np.mean(df_9_tot['pago_anual']))
print(np.mean(df_10_tot['pago_anual']))

993.7142857142857
1510.4512283236995
1302.288306451613
1627.8137432188066
1529.4803652968037
1724.1631382316314
1714.2521551724137
1534.6475409836066
1500.3653846153845
1809.111111111111
875.2

In [40]:
df_1

,folioviv,foliohog,factor,tam_loc,id_pobla_m,ap_1,ap_1_1,ap_1_2,ap_1_2ne,ap_1_3,...,gp_3_3_8,gp_3_3_9,gp_3_3_10,gp_3_3_11,gp_3_3_12,gp_3_3_12d,periodo,pago_anual,tot,cantidad_de_mecanismos
0,100067033,1,949,1,1,1,1,280,,1,...,,,,,,,12,3360,5,1
1,100067050,1,949,1,1,1,1,200,,1,...,,,,,,,12,2400,4,1
8,100109002,1,682,1,2,1,1,220,,1,...,,,,,,,12,2640,7,2
10,100109057,1,682,1,2,1,1,193,,1,...,,,,,,,12,2316,4,1
12,100113034,1,561,1,2,1,1,235,,1,...,,,,,,,12,2820,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14489,3260737118,1,815,4,2,1,2,60,,1,...,,,,,,,12,720,1,1
14490,3260737119,1,815,4,1,1,2,90,,1,...,,,,,,,12,1080,7,1
14497,3260737187,1,815,4,1,1,2,60,,1,...,,,,,,,12,720,6,1
14498,301171118,1,401,3,2,1,2,185,,1,...,2,2,2,2,2,,12,2220,7,1
14502,3260737208,1,815,4,2,1,2,350,,1,...,,,,,,,12,4200,5,2

In [41]:
df_1_0 = df_1.loc[df_1['tot'] == 0] 
df_1_0
print(np.mean(df_1_0['pago_anual']))
print(np.mean(df_0_tot['pago_anual']))
print(np.mean(df_1_tot['pago_anual']))

1747.948717948718
993.7142857142857
1510.4512283236995